@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Welcome to my first ASP.Net application.</h2>

    <p> This project utilizes a mock Best Buy database with multiple tables, I have provided all of the CRUD operations for each table with its own view.</p>


    <h3>Enjoy!!</h3>



</div>
